@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />
@model IPagedList<Project2AP.Models.User>

@{
    ViewBag.Title = "User Record";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<section id="content-main">
    <div class="container">
        <table style="width: 100%;">
            <tr>
                <td style="font-size: 15pt; vertical-align: top;">
                    User
                </td>
                <td style="text-align: right">                    
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </td>
            </tr>
        </table>
        <table class="table-list">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ICNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().PhoneNumber)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.ICNumber)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                </tr>
            }

        </table>
        @{
            if (ViewBag.Item == 0)
            {
                <div style="width: 100%; text-align: center; font-style: italic; padding-top: 30px;">No record of user</div>

            }
        }

        <div style="width: 100%; text-align: center;">
            <div class="pagedList">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { SearchText = ViewBag.SearchText, Page = page }))
            </div>
        </div>
    </div>
</section>
